.heading {
  padding: 0.5rem;
  font-size: 1.9rem;
  color: black;
  text-align: center;
  font-family: "Comfortaa";
  margin-top: 5.5rem;
}

.about {
  font-family: "Catamaran";
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem;
  color: black;
  text-align: center;
}
