---
layout: wrapper
---

<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/css/home.css"
    />
  </head>
  <body>
    <h1 class="heading">All the places that have gotten my two thumbs up</h1>
    <img class="image" src="twothumbs.jpg" key="" alt="two thumbs up" />
  </body>
</html>
