---
layout: wrapper
---

<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/css/page.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="twothumbs.jpg" />
  </head>
  <body>
    <h1 class="heading">{{ page.title }}</h1>
    <div class="about">
      {{ content }}
    </div>
  </body>
</html>
