<!DOCTYPE html>
<html>
  <head>
    <title>Two Thumbs Up!</title>
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/css/wrapper.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="twothumbs.jpg" />
  </head>
  <body>
    <div class="allButFooter">
      <header>
        <h1>
          <a href="/" class="title">
            {{ site.title }}
          </a>
          <a href="/contact" class="link">
            contact
          </a>
          <a href="/about" class="link">
            about
          </a>
          <a href="/postslist" class="link">
            posts
          </a>
        </h1>
      </header>
      {{ content }}
    </div>
    <footer>
      BGG ©2019
    </footer>
  </body>
</html>
